$primary-color: #2962FF; // A vibrant blue
$secondary-color: #37474F; // Dark grey
$background-color: #ECEFF1; // Light grey
$text-color: #263238; // Dark grey
$accent-color: #FF6D00; // Orange
$header-background: #fff; // White
$footer-background: #37474F; // Dark grey
