$primary-color: #00bcd4; // Cyan
$secondary-color: #607d8b; // Blue Grey
$background-color: #eceff1; // Blue Grey lighten-5
$text-color: #263238; // Blue Grey darken-3
$accent-color: #ff5722; // Deep Orange
